* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --secondary-color: black;
    --border-color: rgb(0 0 0 / 0.2);
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--primary-color);
    padding: .5rem;
    border-bottom: 2px var(--border-color);
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid var(--secondary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
    display: block;
}

p {
    margin: 1rem;
    padding: 0;
}

main {
    width: 100%;
    grid-column: 2/3;
    margin: 0 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    grid-column: 1/2;
    grid-row: 1/2;

}

aside img {

    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 170px;
    transform: translateX(-50%);
    margin: 0;
}

aside img {
    width: 100%;
    display: block;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--secondary-color);
    text-align: center;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.box {
    clear: right;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
    width: 840px;
}

.grid {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 2fr;
    max-width: 840px;
    margin: 0 auto;
    gap: 50px;
}